* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    line-height: 16px;
    list-style: none;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__body {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid-first {
    width: 800px;
}
.grid-second {
    width: 400px;
}
li {
    list-style: none;
}
